
<!-- navbar -->
<%= render partial: 'partial/navbar' %>

<!-- application home -->
<section id="home-section">
	<div class="container">

		<!-- render page title -->
		<%= page_title 'Reservar Sala'%>

		<div class="row">
			<div class="col-md-12">

				<!-- schedule table -->
				<%= render partial: 'home/schedule_table' %>

			</div>
		</div>
	</div>
</section>


<!-- action button -->
<%# render partial: 'partial/action_button' %>

<!-- action button -->
<%= render partial: 'partial/footer' %>



