
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<p class="text-muted">Criado com <i class="fa fa-heart"></i> por <a href="mailto:daniel.vinciguerra@bivee.com.br?subject=Sobre o projeto Schedroom...">Daniel Vinciguerra</a></p> 
			</div>
		</div>
	</div>
</footer>
