	<nav class="navbar navbar-default navbar-schedroom">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<%= image_tag 'home-logo.png' %> &nbsp; <%= show_header_date %>
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<%= image_tag 'https://www.gravatar.com/avatar/1fb6cf1869fd18b454f379814da98daa?s=30&d=mm', id: 'user-avatar', class: 'thumbnail-sm img-circle' %>
							&nbsp; Olá, <span id="user-name">You Name</span> <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" class="js-auth-signout">Sair</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

