
.schedroom-action-button {
	background-color: #739DBB;
	height: 60px;
	width: 60px;
	display: block;
	text-align: center;
	line-height: 70px;
	border-radius: 50%;
	color: #ffffff;
	box-shadow: 0px 2px 5px rgba(70, 70, 70, 0.4);
	position: fixed;
	bottom: 0;
	right: 0;
	left: auto;
	top: auto;
	margin: 0px 50px 50px 0px;

	&:hover, &:visited, &:focus {
		color: #eaeaea;
		background-color: #5C819C;
		box-shadow: 0px 2px 5px rgba(70, 70, 70, 0.8);
	}
}
