
.schedule-table {
	color: $color-darkgray;
	text-align: center;

	th {
		text-align: center;
	}

	td {
		cursor: pointer;
	}
}

.schedule-reserved {
	cursor: pointer;
	color: #ffffff !important;
	background-color: #6AB7AA;
	font-weight: 500;
	text-align: center;
}

.js-add-schedule {
	a {
		color: #cccccc;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;

		&:hover {
			color: #444444;
		}
	}
}
