// @import 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css';
@import "bootstrap-sprockets";
@import 'bootstrap';

@import './vendors/_variables.scss';
@import './_variables.scss';

// pages
@import './pages/home.scss';
@import './pages/signin.scss';

// components
@import './components/navbar.scss';
@import './components/schedule_table.scss';
@import './components/action_button.scss';

.debug {
	border: solid 1px red;
}

body, html { 
	width: 100%;
	height: 100%;
	padding: 0px;

	color: $color-dark;
	font-size: 14px;
}

.page-title {
	color: $color-darkgray;
	font-weight: 100;
}
